{% extends 'admin/base.html.twig' %}
{% block title %}Users{% endblock %}

{% block page_content %}

    {% embed 'admin/_partials/_default_table_list.html.twig' %}

        {% block icon_list %}
            <i class="flaticon-users"></i>
        {% endblock %}

        {% block caption_subject %}
            Users ({{ users.nbResults }} records)
        {% endblock %}

        {% block head_tools %}{% endblock %}

        {% block filters_actions %}
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="form-group m-form__group row align-items-center">
                        <div class="col-md-4">
                            <div class="m-input-icon m-input-icon--left">
                                <input type="text" class="form-control m-input m-input--solid" placeholder="Search..."
                                       name="search" id="generalSearch"
                                       value="{% if app.request.query.has('search') %}{{ app.request.query.get('search') }}{% endif %}">
                                <span class="m-input-icon__icon m-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                            <div class="d-md-none m--margin-bottom-10"></div>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ path('admin_user_index') }}"
                               class="btn btn-secondary m-btn m-btn--custom btn-sm">
                                <span><i class="fa fa-times"></i><span> Clear</span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                    <a href="{{ path('admin_user_new') ~ pagination.buildQuery }}"
                       class="btn btn-accent m-btn m-btn--custom m-btn--icon">
                        <span><i class="la la-plus"></i><span> New User</span></span>
                    </a>
                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                </div>
            </div>
        {% endblock %}

        {% block table_tr_th %}
            <tr class="m-datatable__row">
                <th>ID</th>
                <th>E-mail</th>
                <th>Username</th>
                <th>Enabled</th>
                <th>Last Login</th>
                <th>
                    <a href="{{ path('admin_user_index') ~ pagination.buildQuery('sorting') ~ pagination.sortingFieldQuery('createdAt') }}">
                        Created At
                    </a>
                </th>
                <th>Actions</th>
            </tr>
        {% endblock %}

        {% block table_tr_td %}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% if user.isEnabled == '1' %}
                            <span class="m-badge  m-badge--success m-badge--wide">
                                <i class="fa fa-check"></i>
                            </span>
                        {% else %}
                            <span class="m-badge  m-badge--danger m-badge--wide">
                                <i class="fa fa-remove"></i>
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.lastLogin is not null %}
                            {{ user.lastLogin|date('d/m/Y H:i') }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ user.createdAt|date('d/m/Y H:i') }}</td>
                    <td>
                        {% embed 'admin/_partials/_actions_btn_group.html.twig' %}
                            {% block li_actions %}
                                <a class="dropdown-item" href="javascript:;" data-toggle="modal"
                                   data-target="#modalConfirmation"
                                   data-path="{{ path('admin_user_delete', {id: user.id})|escape }}"
                                   data-crf="{{ form_widget(delete_forms[user.id]._token)|escape }}"
                                >
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            {% endblock %}
                        {% endembed %}
                        <a href="{{ path('admin_user_edit', { id: user.id }) ~ pagination.buildQuery }}"
                           class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
                           title="Edit details"> <i class="la la-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endblock %}

        {% block list_info %}
            Showing {{ users.currentPageOffsetStart }} to
            {{ users.currentPageOffsetEnd }} of
            {{ users.nbResults }} records
        {% endblock %}

        {% block list_pagination %}
            {{ pagerfanta(users, 'twitter_bootstrap4',{
                routeName: 'admin_user_index',
                routeParams: app.request.query.all
            }) }}
        {% endblock %}

    {% endembed %}

{% endblock %}