<div class="m-scrollable" data-axis="x" data-scrollable="true">
    {#<table class="table m-table table-bordered">
        <thead>
        <tr align="center">
            {% for time in times %}
                <th align="center">{{ time['time_start'] }} - {{ time['time_end'] }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for time in times %}
                <td align="center">
                    <label class="m-radio m-radio--solid m-radio--success">
                        <input title="Select a time"
                               type="radio"
                               name="schedule_site[times]"
                               id="schedule_site_times__{{ loop.index0 }}"
                               value="{{ time['time_start'] }}__{{ time['time_end'] }}"
                               {% if times[loop.index0]['available'] == false %}disabled="disabled"{% endif %}>
                        <span></span>
                    </label>
                </td>
            {% endfor %}
        </tr>
        <tr>
            {% for time in times %}
                <td align="center">
                    <span class="m-badge m-badge--danger m-badge--wide {% if time['available'] == true %}m--hide{% endif %}"
                          id="time_{{ loop.index0 }}_badge_state_unvailable">
                        unvailable
                    </span>
                    <span class="m-badge m-badge--success m-badge--wide {% if time['available'] == false %}m--hide{% endif %}"
                          id="time_{{ loop.index0 }}_badge_state_available">
                        available
                    </span>
                </td>
            {% endfor %}
        </tr>
        </tbody>
    </table>#}
    <table class="table m-table table-hover table-bordered">
        <thead>
        <tr align="center">
            <th>Select a time</th>
            <th align="center">Time</th>
            <th align="center">Availability</th>
        </tr>
        </thead>
        <tbody>
        {% for time in times %}
            <tr>
                <td align="center">
                    <label class="m-radio m-radio--solid m-radio--success">
                        <input title="Select a time"
                               type="radio"
                               name="schedule_site[times]"
                               id="schedule_site_times__{{ loop.index0 }}"
                               value="{{ time['time_start'] }}__{{ time['time_end'] }}"
                               {% if times[loop.index0]['available'] == false %}disabled="disabled"{% endif %}>
                        <span></span>
                    </label>
                </td>
                <td align="center">{{ time['time_start'] }} - {{ time['time_end'] }}</td>
                <td align="center">
                    <span class="m-badge m-badge--danger m-badge--wide {% if time['available'] == true %}m--hide{% endif %}"
                          id="time_{{ loop.index0 }}_badge_state_unvailable">
                        unvailable
                    </span>
                    <span class="m-badge m-badge--success m-badge--wide {% if time['available'] == false %}m--hide{% endif %}"
                          id="time_{{ loop.index0 }}_badge_state_available">
                        available
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{#<table class="table m-table table-striped">
    <tbody>
    {% for item in items %}
        {% if item.cleaningItemCategory.id == category.id %}
            <tr class="{% if loop.index0 % 2 == 0 %}_m-table__row--metal{% else %}_m-table__row--light{% endif %}">
                <td align="center" style="font-weight: 400; color: #000; vertical-align: middle">
                    {{ item.title }}:
                    <input type="hidden"
                           name="items[{{ item.id }}][id]"
                           value="{{ item.id }}">
                </td>
                <td align="center" style="font-weight: 400; color: #000;vertical-align: middle">
                    {% if item.cleaningItemOptions.count > 0 %}
                        <div class="m-radio-inline">
                            {% for option in  item.cleaningItemOptions %}
                                <label class="m-radio m-radio--solid m-radio--success" style="font-weight: 400; color: #000;">
                                    <input title="Select a option"
                                           type="radio"
                                           name="tems[{{ item.id }}][item_option]"
                                           value="{{ option.id }}"
                                           {% if loop.index0 == 0 %}checked{% endif %}
                                    >
                                    {{ option.cleaningItemOption.title }}
                                    <span></span>
                                </label>
                            {% endfor %}
                        </div>
                    {% else %}
                        *{{ item.description }}
                    {% endif %}
                </td>
                <td align="center" style="font-weight: 400; color: #000; vertical-align: middle">
                    <select name="items[{{ item.id }}][quantity]"
                            class="form-control m-input">
                        <option value="0">Quantity</option>
                        {% for i in 1..(item.maxQuantity) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>#}