{% extends 'site/base.html.twig' %}

{% block page_content %}
    <div class="row">
        <div class="col-xl-9">
            <!--Begin::Main Portlet-->
            <div class="m-portlet">
                <!--begin: Portlet Head-->
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Carpet Cleaning Estimate
                                <small>
                                    Select Cleaning Services
                                </small>
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">

                    </div>
                </div>
                <!--end: Portlet Head-->
                <!--begin: Form Wizard-->
                <div class="m-wizard m-wizard--5 m-wizard--success" id="m_wizard">
                    <!--begin: Message container -->
                    <div class="m-portlet__padding-x">
                        <!-- Here you can put a message or alert -->
                    </div>
                    <!--end: Message container -->
                    <!--begin: Form Wizard Head -->
                    <div class="m-wizard__head m-portlet__padding-x">
                        <div class="row">
                            <div class="col-xl-10 offset-xl-1">
                                <!--begin: Form Wizard Nav -->
                                <div class="m-wizard__nav">
                                    <div class="m-wizard__steps">
                                        <div class="m-wizard__step">
                                            <div class="m-wizard__step-info">
                                                <a href="#" class="m-wizard__step-number">
                                                    <span class="m-wizard__step-seq">
                                                        1.
                                                    </span>
                                                    <span class="m-wizard__step-label">
                                                        Services
                                                    </span>
                                                    <span class="m-wizard__step-icon">
                                                        <i class="la la-check"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="m-wizard__step m-wizard__step--current">
                                            <div class="m-wizard__step-info">
                                                <a href="#" class="m-wizard__step-number">
                                                    <span class="m-wizard__step-seq">
                                                        2.
                                                    </span>
                                                    <span class="m-wizard__step-label">
                                                        Appoitament
                                                    </span>
                                                    <span class="m-wizard__step-icon">
                                                        <i class="la la-check"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end: Form Wizard Nav -->
                            </div>
                        </div>
                    </div>
                    <!--end: Form Wizard Head -->
                    <!--begin: Form Wizard Form-->
                    <div class="m-wizard__form">
                        <!--
                            1) Use m-form--label-align-left class to alight the form input lables to the right
                            2) Use m-form--state class to highlight input control borders on form validation
                        -->
                        {{ form_start(form, {'action': path('site_schedule_step_2'),
                            'attr': {
                                'class': 'm-form m-form--label-align-left- m-form--state-',
                                'id': 'm_form',
                                'novalidate' : true
                            }}) }}
                        <!--begin: Form Body -->
                        <div class="m-portlet__body">
                            <!--begin: Form Wizard Step 1-->
                            <div class="m-wizard__form-step m-wizard__form-step--current">
                                <div class="row">
                                    <div class="col-xl-10 offset-xl-1">
                                        <div class="m-form__section m-form__section--first">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">
                                                    Arrival Time
                                                </h3>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-12">
                                                    {{ form_label(form.date, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.date, {
                                                        'attr': {
                                                            'class' : 'm-input input_datepicker',
                                                        }
                                                    }) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-6">
                                                    {{ form_label(form.startTime, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.startTime, {
                                                        'attr': {
                                                            'class' : 'm-input input_timepicker',
                                                        }
                                                    }) }}
                                                </div>
                                                <div class="col-lg-6">
                                                    {{ form_label(form.endTime, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.endTime, {
                                                        'attr': {
                                                            'class' : 'm-input input_timepicker',
                                                        }
                                                    }) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-form__section">
                                            <div class="m-form__heading">
                                                <h3 class="m-form__heading-title">
                                                    Client Details
                                                </h3>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-6">
                                                    {{ form_label(form.customer.firstName, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.customer.firstName, {
                                                        'attr': {
                                                            'class' : 'm-input',
                                                        }
                                                    }) }}
                                                </div>
                                                <div class="col-lg-6">
                                                    {{ form_label(form.customer.lastName, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.customer.lastName, {
                                                        'attr': {
                                                            'class' : 'm-input',
                                                        }
                                                    }) }}
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-6">
                                                    {{ form_label(form.customer.email, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.customer.email, {
                                                        'attr': {
                                                            'class' : 'm-input',
                                                        }
                                                    }) }}
                                                </div>
                                                <div class="col-lg-6">
                                                    {{ form_label(form.customer.phoneNumber, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.customer.phoneNumber, {
                                                        'attr': {
                                                            'class' : 'm-input',
                                                        }
                                                    }) }}
                                                </div>
                                            </div>
                                            <div id="customerAddresses" data-prototype="{% include 'site/schedule/_customer_address_collection.html.twig'
                                                     with {'item': form.customer.customerAddresses.vars.prototype.address, 'prototype': true} %}">
                                                {% for customerAddress in form.customer.customerAddresses %}
                                                    {% include 'site/schedule/_customer_address_collection.html.twig'
                                                        with {'item' : customerAddress.address, 'collection': true } %}
                                                {% endfor %}
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-lg-12">
                                                    {{ form_label(form.instructions, {}, {'label_attr': {'class': 'col-form-label'}}) }}
                                                    {{ form_widget(form.instructions, {
                                                        'attr': {
                                                            'class' : 'm-input',
                                                            'rows' : 5
                                                        }
                                                    }) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Form Wizard Step 1-->
                        </div>
                        <!--end: Form Body -->
                        <!--begin: Form Actions -->
                        <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    {#<div class="col-lg-1"></div>
                                    <div class="col-lg-4 m--align-left">
                                        <a href="{{ path('site_index') }}"
                                           class="btn btn-secondary m-btn m-btn--custom m-btn--icon">
                                            <span>
                                                <i class="la la-arrow-left"></i>
                                                &nbsp;&nbsp;
                                                <span>
                                                    Back
                                                </span>
                                            </span>
                                        </a>
                                    </div>#}
                                    <div class="col-lg-11 m--align-right">
                                        <button type="submit" class="btn btn-warning m-btn m-btn--custom m-btn--icon">
                                            <span><span>Schedule</span>&nbsp;&nbsp;<i class="la la-check"></i></span>
                                        </button>
                                    </div>
                                    <div class="col-lg-1"></div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Actions -->
                        {{ form_widget(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                    <!--end: Form Wizard Form-->
                </div>
                <!--end: Form Wizard-->
            </div>
            <!--End::Main Portlet-->
        </div>
        <div class="col-xl-3">
            <div class="m-portlet">
                <div class="m-portlet__body">
                    <div class="m-widget1 m-widget1--paddingless">
                        <div class="m-section">
                            <h2 class="m-section__heading">
                                Appoitaments Details
                            </h2>
                        </div>

                        {% set checkout = app.request.session.get('checkout') %}

                        {% for item in checkout['items'] %}
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <h3 class="m-widget1__title">
                                            {% if item['item_option'] is not null %}
                                                <small>{{ item['item_option']['title'] }}</small><br>
                                            {% endif %}
                                            {{ item['item']['title'] }}
                                            <br>
                                            <small>({{ item['item']['quantity'] }}x)</small>
                                        </h3>
                                    </div>
                                    <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        ${{ item['item']['total']|number_format }}
                                    </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Subtotal
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        {#{% dump(app.request.session.get('checkout')['5']['item']['title']) %}#}
                                        ${{ checkout['subtotal']|number_format }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Discount
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        ${{ checkout['discount']|number_format }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-widget1__item">
                            <div class="row m-row--no-padding align-items-center">
                                <div class="col">
                                    <h3 class="m-widget1__title">
                                        Total Price
                                    </h3>
                                </div>
                                <div class="col m--align-right">
                                    <span class="m-widget1__number m--font-success">
                                        ${{ checkout['total']|number_format }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-separator m-separator--fit"></div>
                    <form action="" method="post">
                        <div class="m-widget1 m-widget1--paddingless">
                            <div class="m-widget1__item">
                                <div class="row m-row--no-padding align-items-center">
                                    <div class="col">
                                        <div class="form-group m-form__group" style="margin-bottom: 0">
                                            <label for="example_input_full_name">
                                                Coupon Code
                                            </label>
                                            <input type="text" class="form-control m-input" name="coupon_code"
                                                   id="coupon_code" placeholder="Enter coupon code">
                                            <button type="submit" class="btn btn-sm btn-accent m-btn--icon m-btn--air"
                                                    id="btn-check-coupon-code" style="margin-top: 12px">
                                                <span><i class="fa fa-tags"></i><span>Send</span></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end: Form Wizard Step 4-->
                </div>
                <!--end: Form Body -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% embed 'site/_partials/_block_javascripts.html.twig' %}
        {% block javascripts_page_snippets %}
            <script src="{{ asset('assets/widgets/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('assets/widgets/bootstrap-datetimepicker.js') }}"></script>
            <script src="{{ asset('site/custom/customerAddresses.js') }}"></script>
            <script type="text/javascript">
                $('#m_form').validate({
                    rules: {
                        schedule_site_customer_phoneNumber: {required: true, phoneUS: true},
                        schedule_site_date: {required: true, dateISO: true},
                    }
                })
            </script>
        {% endblock %}
    {% endembed %}
{% endblock %}